<!-- this design is taken from https://bootsnipp.com/snippets/featured/advanced-dropdown-search  -->
<!-- it is open source under MIT license -->

<body *ngIf="auth.isAuthenticated()" >
        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group" id="adv-search">
                            <input id="inputBox" [(ngModel)]="query" type="text" class="form-control" placeholder="Search for items" (keyup)="filter()"/>
        
                            <div class="input-group-btn">
                                    <button  class="btn btn-primary" disabled><span class="glyphicon glyphicon-search" ></span></button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            
</body>