<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
    </head>
    <body>
      <div class="jumbotron">
        <div class="container">
          <a *ngFor="let ad of advertisements" [routerLink]="['/view', 'ads', ad.advertisementId]">
            <div class="row">
                <div class="well well-lg">
                  <div id="displayPrice">
                    <i class="fa fa-tags" aria-hidden="true"></i>{{ad.price}}$ 
                    <br>
                  </div>
                  <img src="{{ad.imageUrl}}" class="img-thumbnail img-fluid" alt="{{ad.title}}">
                  <h3>{{ad.title}}</h3>
                  <br>
                  <p id="adDescription">{{showReducedDescriptionLength(ad.description, 250)}}</p>
                </div>
            </div>
          </a>
        </div>
      </div>
    </body>

 
