h3{
  font-weight: bold;
  margin-top: -15px;
}

#displayPrice{
    vertical-align: top;
    float:right;
    margin-top: -100px;
    font-size: 18px;
}

.well{
    min-height: 250px;
}

img{
    height:200px;
    float:right;
    margin-top: -75px;
}

.fa-tags{
    position: relative;
    left: 100%;
}
