<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">   
    </head>
    <body *ngIf="auth.isAuthenticated()" >
      <div class="jumbotron">
        <div class="container">
          <a *ngFor="let ad of filteredAds" [routerLink]="['/view', 'ads', ad.advertisementId]">
            <div class="row">
                <div class="well well-lg">
                  <div id="displayPrice">
                    <i id="price" class="fa fa-tags" aria-hidden="true">${{ad?.price}} </i>
                    <br>
                  </div>
                  <img id="image" src="{{ad?.imageUrl}}" class="img-thumbnail img-fluid" alt="{{ad?.title}}">
                  <h3 id="title">{{ad.title}}</h3>
                  <br>
                  <p id="description">{{showReducedDescriptionLength(ad?.description, 250)}}</p>
                </div>
            </div>
          </a>
        </div>
      </div>
    </body>



 
