<div class="create ad">
  <p class="sm">Create a New Advertisement</p>
  <form method="post" enctype="multipart/form-data">
    <input type="text" class="txt" name="title" placeholder="Title" [(ngModel)]="title">
    <input type="text" class="txt" name="description" placeholder="Description" [(ngModel)]="description">
    <input type="number" class="double" name="price" placeholder="Price" [(ngModel)]="price">
    <input type="text" class="txt" name="category" placeholder="category" [(ngModel)]="category">    

    <img [src]="fileDataUri">
    <p *ngIf="errorMsg" style="color:red">{{errorMsg}}</p>
    <br>
    <input type="file" name="imageUpload" value="imageUpload" id="image"  
           (change)="previewFile()" (change)="uploadFile($event)"#fileInput>

    <p *ngIf="!createAdSuccess" style="color:red">{{validAdMsg}}</p>
    <button *ngIf="!createAdSuccess && !postSuccess" class="postBtn" id="postBtn" (click)="this.activateSubmit()" >Validate Advertisement</button>
    <input *ngIf="createAdSuccess && !postSuccess"  type="submit" class="postBtn" value="POST NOW" 
           (click)="createAd()">
  </form>
  <button *ngIf="postSuccess" class="postBtn" id="postBtn" [routerLink]="['']" >Back to Homepage</button>
</div>