<div class="create ad">
  <p class="sm">Use this form to create an advertisement</p>
  <form>
    <input type="text" class="txt" name="title" placeholder="Title" [(ngModel)]="title">
    <input type="text" class="txt" name="description" placeholder="Description" [(ngModel)]="description">
    <input type="number" class="double" name="price" placeholder="Price" [(ngModel)]="price">
    <input type="text" class="txt" name="category" placeholder="category" [(ngModel)]="category">    

    <input type="submit" class="btn" value="Add User" (click)="createAd()">
  </form>
</div>