<div class="container">
  <div class="row">
    <h1>Create a New Advertisement</h1>
    <div class="col-md-8 col-centered">
      <div class="create ad">
        <form method="post" enctype="multipart/form-data">
          <div class="form-group"> <!-- Name field -->
            <label class="control-label" for="title">Title<span class="asteriskField">*</span></label>
            <input type="text" class="txt form-control" name="title" placeholder="Title" [(ngModel)]="title">

            <label class="control-label" for="price">Price<span class="asteriskField">*</span></label>
            <input type="number" class="double form-control" name="price" placeholder="Price" [(ngModel)]="price">

            <label class="control-label" for="category">Category</label>
            <input type="text" class="txt form-control" name="category"  placeholder="Category" [(ngModel)]="category">

            <label class="control-label" for="description">Description</label>
		        <textarea class="txt form-control" cols="50" name="description" rows="15" [(ngModel)]="description"></textarea>
          </div>

          <img [src]="fileDataUri">
          <!-- <p *ngIf="errorMsg" style="color:red">{{errorMsg}}</p>
          <br> -->
          <input type="file" id="inpuImage" class="btn btn-default" name="imageUpload" 
                (change)="previewFile()" #fileInput>

          <!-- <p *ngIf="!createAdSuccess && !postSuccess" style="color:red">{{validAdMsg}}</p>
          <button *ngIf="!createAdSuccess && !postSuccess" class="postBtn" id="postBtn" (click)="activateSubmit()" >Validate Advertisement</button> -->
        </form>
        <!-- <input *ngIf="createAdSuccess && !postSuccess"  type="submit" class="postBtn" value="POST NOW" 
            (click)="createAd()" (click)="uploadFile()" [routerLink]="['']"> -->
      </div>
    </div>
  </div>
</div>
