<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" *ngIf="auth.isAuthenticated()">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src={{getPicture()}} class="img-circle img-responsive"> </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First Name</td>
                        <td>{{ getFirstName() }}</td>                                                          
                      </tr>
                      <tr>
                          <td> Last Name </td>
                          <td>{{ getLastName() }}</td>
                      </tr>
                      <tr>
                          <td> Email </td>
                          <td>{{ getEmail() }}</td>
                      </tr> 
                      <tr>
                          <td> Phone No. </td>
                          <td>{{ getPhoneNo() }}</td>
                      </tr>                   
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <body *ngIf="!auth.isAuthenticated()">
      <div>
        {{goHome()}}
      </div>
    </body>
