<!DOCTYPE html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
  </head>

  <body>
    <div class="jumbotron">
        <h1 class="display-3">UMBuy</h1><app-search></app-search>
    </div>
    
    <!-- <div >
      <app-search></app-search>
    </div> -->
    <router-outlet></router-outlet>
  </body>