<!DOCTYPE html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
  </head>

  <body *ngIf="login_check()">
    <div class="container">
      <div class="row">
        <app-search></app-search>
        <div class="col-md-12 text-center">      
            <a id="createAdButton" [routerLink]="['/createAd']" class="btn btn-default">Create an Advertisement</a>
        </div>
        <app-view-ads-component #viewAdsElement></app-view-ads-component>
      </div>
    </div>

  </body>


  
