<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
    </head>
    <body *ngIf="auth.isAuthenticated()">
      <div class="jumbotron">
        <div class="container">
          <div>
            <h1 id="title">{{advertisement?.title}}</h1>
            <br><br>
            <div class="row">
                <img id="image" src="{{advertisement?.imageUrl}}" class="img-rounded" alt="{{advertisement?.title}}" align="left">
                <div class="row">
                    <h2>Contact Information</h2>
                    <h3 id="userFullName">Name:&emsp;{{user?.user_metadata.FirstName + " " + user?.user_metadata.LastName}}</h3>
                    <h3 id="userEmail">Email:&emsp;{{user?.email}}</h3>
                    <h3 id="userPhoneNumber">Phone number:&emsp;{{user?.user_metadata.phone}}</h3>
                    <br>
                    <h3 id="created_on">Created on:&emsp;{{created_on}}</h3>
                    <h3 id="last_updated">Last Updated:&emsp;{{last_updated}}</h3>
                    <br><br><br>
                    <button id="editButton" *ngIf="editable" class="btn btn-info" [routerLink]="['/edit', currentAdvertisementId]">Edit advertisement</button>
                </div>
              
                <h3 id="deleted_on" *ngIf="isDeleted">Deleted on:&emsp;{{deleted_on}}</h3>
            </div>
            <h3 id="price"><i class="fa fa-tags" aria-hidden="true"></i>{{advertisement?.price}}$</h3>
            <h3 id="category">Category:&emsp;{{advertisement?.category}}</h3>
            <br>
            <h2>Description</h2>
            <h3 id="description">{{advertisement?.description}}</h3>
            <br>
          </div>
        </div>
      </div>
    </body>


