.imgBorder{
    border: 3px solid #FFD700;
    left: 0px;
}

div {
    background: #fff;
    padding: 15px;
    margin-bottom: 30px;
  }
  .whiteSpace {
    white-space: normal; /* default value */
  }
  
  .whiteSpace_noWrap {
    white-space: nowrap;
  }