<ActionBar title="View-Ad-Info" class="action-bar"></ActionBar>
           
<StackLayout *ngIf="advertisement">
    <image width="50%" height="50%"
        [src]="advertisement.imageUrl" class="imgBorder"></image>
    <ScrollView orientation="vertical">
        <StackLayout *ngIf="user">
            <HtmlView html="Name: "></HtmlView>
            <Label class="h2" [text]="user.firstName"></Label>
            <Label class="h2" [text]="advertisement.title"></Label>
            <Label [text]="advertisement.description"></Label>
        </StackLayout>
    </ScrollView>
</StackLayout>

         